.addContent {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Сянка на контейнера */
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333333; /* Цвят на текста на етикетите */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  box-sizing: border-box;
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Стилове за полетата за въвеждане при фокус (активност) */
input:focus,
select:focus,
textarea:focus {
  outline: none; /* Премахване на контура при фокус */
  border-color: #007bff; /* Цвят на границата при фокус */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Сянка при фокус */
}

  